/*css variable declaration*/
* {
    -fx-primary: #2A2E37;
    -fx-secondary: #00A4F6;
    -fx-primarytext: #B2B2B2;
    -fx-error: #FF0400;
    -fx-hovercell: #525252;
}

.root {
    -fx-background-color: -fx-primary;
}

.glyph-icon {
    -fx-fill: -fx-primarytext;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
    -jfx-focus-color: -fx-secondary;
}

.text-area{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 14pt;
}

.invalid-input {
    -jfx-unfocus-color: -fx-error;
    -jfx-focus-color: -fx-error;
}

.table-view{
    -fx-background-color: -fx-primary;
}

.table-view .column-header {
    -fx-background-color: -fx-primary;
}

.tab {
    -fx-pref-width: 255;
    -fx-pref-height: 47;
    -fx-background-color: -fx-primary;
}

.tab-header-background {
    -fx-background-color: -fx-primary;
}

.jfx-toggle-button{
    -jfx-toggle-color: -fx-secondary;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -fx-secondary;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -fx-secondary;
}

.label {
    -fx-text-fill: -fx-secondary;
}

.mylistview {
    -fx-background-color: -fx-primary;
}

.list-view .list-cell:hover {
    -fx-background-color: -fx-hovercell;
}

.list-view .list-cell {
    -fx-background-color: -fx-primary;
}

.list-view .label {
    -fx-text-fill: -fx-secondary;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-primarytext;
}

.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.mylistview .scroll-bar:horizontal .increment-button,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.mylistview .scroll-bar:vertical .increment-button,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.mylistview .scroll-bar .increment-arrow,
.mylistview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
    -fx-background-color: -fx-primary;
}

.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-secondary;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.mylistview .corner {
    -fx-background-color: -fx-primary;
}

.scroll-bar:vertical > .track, .scroll-bar:horizontal > .track {
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: -fx-secondary;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
    -fx-background-color: -fx-primary;
}
